<!doctype html>
<html lang="en">
<%= form_with model: [@test, @question], local: true do |form| %>
  <div>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
</html>