<style type="text/css">
    #footer {
        position: fixed; /* Фиксированное положение */
        left: 0;
        bottom: 0; /* Левый нижний угол */
        padding: 10px; /* Поля вокруг текста */
        background: #39b5a2; /* Цвет фона */
        color: #fff; /* Цвет текста */
        width: 100%; /* Ширина слоя */
        text-align: center;
    }
</style>
<article>
  <footer id="footer">
    <br>Author: Alex Zayats
    Project: <%= github_url('ZayatsAliaksei', 'test_guru') %>
    Учебный проект в онлайн-школе <a href="https://thinknetica.com/">Thinknetica</a>
    © <%= this_year %> Test Guru</p>
    <p>
      <% if I18n.locale == I18n.default_locale %>
        <%= link_to 'ENG', { lang: :en } %>
      <% else %>
        <%= link_to 'RU', { lang: :ru } %>
      <% end %>
    </p>
  </footer>
</article>