<style type="text/css">
    #footer {
        position: fixed; /* Фиксированное положение */
        left: 0; bottom: 0; /* Левый нижний угол */
        padding: 10px; /* Поля вокруг текста */
        background: #39b5a2; /* Цвет фона */
        color: #fff; /* Цвет текста */
        width: 100%; /* Ширина слоя */
        text-align: center;
    }
</style>
<article>
  <footer id="footer">
    <br>Author: Alex Zayats
    Project: <a href="<%= github_url('ZayatsAliaksei', 'test_guru') %>" target="_blank">Test_Guru</a>
    Учебный проект в онлайн-школе <a href="https://thinknetica.com/" target="_blank">Thinknetica</a>
    © <%= this_year %> Test Guru</p>
  </footer>
</article>