<h1>Tests:</h1>
<div>
  <% @tests.each do |test| %>
    Name:<b><%= test.title %></b>
    Level:<b><%= test.level %></b>
    Author:<b><%= test.author.name%></b>
    <%= button_to "Start test", start_test_path(test) %>

    <br>
  <% end %>
</div>
