<h1>Tests:</h1>
<div>
  <% @tests.each do |test| %>
    Name:<b><%= test.title %></b>
    Level:<b><%= test.level %></b>
    <%= link_to 'Check', test_path(test.id) %>
    <br>
  <% end %>
</div>
<p> <%= link_to 'Create_test', new_test_path %></p>
